* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 20px;
    font-weight: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 0px 20px;
    margin: 10px 0px;
    border-bottom: 5px solid #ddd;
    font-weight: bold;
}


.logo{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    margin: 0px;
    padding: 30px;
    list-style: none;
}
.menu ul li {
    margin-left: 20px;
}

.home:hover {
    text-decoration: none;
    color: #FFD400;
    transition: 0.5s;
}

.tentor:hover {
    text-decoration: none;
    color: #FFD400;
    transition: 0.5s;
}

.testimoni:hover {
    text-decoration: none;
    color: #FFD400;
    transition: 0.5s;
}
.order {
    background-color: blue;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.order:hover{
    transition: 0.5s;
    background-color: grey;
    color: black;
}

.img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 0px 80px;
    margin-right: 0px;
    text-align: left;
    margin-top: 15px;
}
.img img {
    max-width: 100%;
    height: auto;
    width: 700px;
}
.paragraf {
    margin-right: 0px;
    margin-top: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

.paragraf h1{
    font-size: 25px;
    line-height: 1.4;
    text-align: left;
    margin-top: 30px;
}


.foto {
    width: 50%;
    text-align: right;
    margin-right: 0px;
    padding: 0px;
}

.foto img{
    width: 500px;
    height: auto;
}

.btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #213C51;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

}

.btn:hover{
    background-color: #6594B1;
    color: black;
    transition: 0.5s;
}


footer {
    background-color: white;
    color: grey;
    text-align: left;
    padding: 20px 0;
    margin-top: 100px;
    border-top: 2px solid #ddd;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(
        auto-fit, minmax(200px, 1fr)
    );
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
    
}